<p-accordion [multiple]="true" class="p-0">
  <p-accordionTab header="Szkoła">
		<div class="flex flex-column gap-2">
			<p-multiSelect [style]="{'width':'100%'}" class="p-inputtext-sm block" [options]="schoolTypes" defaultLabel="Wybierz typ szkoły" optionLabel="name" display="chip"></p-multiSelect>
			<p-multiSelect [style]="{'width':'100%'}" class="p-inputtext-sm block" [options]="schoolTypes" defaultLabel="Wybierz organ prowadzący" optionLabel="name" display="chip"></p-multiSelect>
		</div>
  </p-accordionTab>
  <p-accordionTab header="Uczeń">
    <div class="flex flex-column gap-2">
			<p-multiSelect [style]="{'width':'100%'}" class="p-inputtext-sm block w-11" [options]="schoolTypes" defaultLabel="Wybierz typ szkoły" optionLabel="name" display="chip"></p-multiSelect>
			<p-multiSelect [style]="{'width':'100%'}" class="p-inputtext-sm block w-11" [options]="schoolTypes" defaultLabel="Wybierz organ prowadzący" optionLabel="name" display="chip"></p-multiSelect>
		</div>
  </p-accordionTab>
</p-accordion>
